In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pathlib

In [3]:
flights_1 = pd.read_csv('data/flight_destinations/flights_2020_1.csv')

In [4]:
flights_1_cleaned = flights_1.drop(columns=['ORIGIN_AIRPORT_ID','PASSENGERS','ORIGIN_WAC','ORIGIN_AIRPORT_SEQ_ID', 'Unnamed: 24','DEST_CITY_MARKET_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM','DEST_STATE_NM','DEST_AIRPORT_SEQ_ID', 'DEST_AIRPORT_ID','DEST_WAC','TRIP_BREAK','FARE_CLASS', 'DEST_STATE_FIPS'])

In [5]:
flights_1_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2020,1,CLT,US,NC,PBI,US,FL,AA
1,2020,1,CLT,US,NC,PBI,US,FL,AA
2,2020,1,DFW,US,TX,DTW,US,MI,AA
3,2020,1,CLT,US,NC,DTW,US,MI,AA
4,2020,1,CLT,US,NC,DTW,US,MI,AA
...,...,...,...,...,...,...,...,...,...
8091831,2020,1,ATL,US,GA,SFO,US,CA,DL
8091832,2020,1,ATL,US,GA,PHX,US,AZ,DL
8091833,2020,1,ATL,US,GA,SAT,US,TX,DL
8091834,2020,1,ATL,US,GA,IAH,US,TX,DL
8091835,2020,1,ATL,US,GA,IND,US,IN,DL

In [6]:
flights_2 = pd.read_csv('data/flight_destinations/flights_2020_2.csv')

In [7]:
flights_2_cleaned = flights_2.drop(columns=['ORIGIN_AIRPORT_ID','ORIGIN_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'ORIGIN_CITY_MARKET_ID','Unnamed: 13'])

In [8]:
flights_2_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2020,2,MSP,US,MN,CLT,US,NC,AA
1,2020,2,OMA,US,NE,CLT,US,NC,YX
2,2020,2,SBN,US,IN,CLT,US,NC,OH
3,2020,2,DAY,US,OH,CLT,US,NC,OH
4,2020,2,MEM,US,TN,CLT,US,NC,YX
...,...,...,...,...,...,...,...,...,...
1821581,2020,2,ORD,US,IL,IND,US,IN,MQ
1821582,2020,2,ATL,US,GA,LAX,US,CA,DL
1821583,2020,2,IAH,US,TX,DEN,US,CO,UA
1821584,2020,2,DFW,US,TX,ATL,US,GA,AA
1821585,2020,2,MIA,US,FL,STT,US,VI,AA

In [9]:
flights_3 = pd.read_csv('data/flight_destinations/flights_2020_3.csv')

In [10]:
flights_3_cleaned = flights_3.drop(columns='Unnamed: 9')

In [11]:
flights_3_cleaned

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2020,3,CLT,US,NC,BHM,US,AL,OH
1,2020,3,CAE,US,SC,CLT,US,NC,PT
2,2020,3,DFW,US,TX,ORF,US,VA,AA
3,2020,3,CLT,US,NC,CAE,US,SC,OH
4,2020,3,SBP,US,CA,DFW,US,TX,MQ
...,...,...,...,...,...,...,...,...,...
4295098,2020,3,ORD,US,IL,GSP,US,SC,G7
4295099,2020,3,ORD,US,IL,LGA,US,NY,UA
4295100,2020,3,ORD,US,IL,CHS,US,SC,YX
4295101,2020,3,ORD,US,IL,BTV,US,VT,ZW
4295102,2020,3,ORD,US,IL,CAE,US,SC,ZW

In [12]:
flights_2020 = pd.concat([flights_1_cleaned, flights_2_cleaned, flights_3_cleaned], ignore_index=True)
flights_2020

,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,DEST,DEST_COUNTRY,DEST_STATE_ABR,OPERATING_CARRIER
0,2020,1,CLT,US,NC,PBI,US,FL,AA
1,2020,1,CLT,US,NC,PBI,US,FL,AA
2,2020,1,DFW,US,TX,DTW,US,MI,AA
3,2020,1,CLT,US,NC,DTW,US,MI,AA
4,2020,1,CLT,US,NC,DTW,US,MI,AA
...,...,...,...,...,...,...,...,...,...
14208520,2020,3,ORD,US,IL,GSP,US,SC,G7
14208521,2020,3,ORD,US,IL,LGA,US,NY,UA
14208522,2020,3,ORD,US,IL,CHS,US,SC,YX
14208523,2020,3,ORD,US,IL,BTV,US,VT,ZW
14208524,2020,3,ORD,US,IL,CAE,US,SC,ZW

In [13]:
flights_2020_renamed = flights_2020.rename(columns={
        "YEAR": "Year", 
        "QUARTER": "Quarter", 
        "ORIGIN": "Origin_Airtport", 
        "ORIGIN_COUNTRY": "Origin_Country", 
        "ORIGIN_STATE_ABR": "Origin_State",
        "DEST": "Destination_Airport", 
        "DEST_COUNTRY": "Destination_Country", 
        "DEST_STATE_ABR": "Destination_State",
        "OPERATING_CARRIER": "Airline_Code"
})
flights_2020_renamed

,Year,Quarter,Origin_Airtport,Origin_Country,Origin_State,Destination_Airport,Destination_Country,Destination_State,Airline_Code
0,2020,1,CLT,US,NC,PBI,US,FL,AA
1,2020,1,CLT,US,NC,PBI,US,FL,AA
2,2020,1,DFW,US,TX,DTW,US,MI,AA
3,2020,1,CLT,US,NC,DTW,US,MI,AA
4,2020,1,CLT,US,NC,DTW,US,MI,AA
...,...,...,...,...,...,...,...,...,...
14208520,2020,3,ORD,US,IL,GSP,US,SC,G7
14208521,2020,3,ORD,US,IL,LGA,US,NY,UA
14208522,2020,3,ORD,US,IL,CHS,US,SC,YX
14208523,2020,3,ORD,US,IL,BTV,US,VT,ZW
14208524,2020,3,ORD,US,IL,CAE,US,SC,ZW

In [14]:
 flights_2020_indexed = flights_2020_renamed.set_index('Year')

In [15]:
flights_2020_indexed.to_csv('data/flights_2020.csv')

,Year,Quarter,Origin_Airtport,Origin_Country,Origin_State,Destination_Airport,Destination_Country,Destination_State,Airline_Code
0,2020,1,CLT,US,NC,PBI,US,FL,AA
1,2020,1,CLT,US,NC,PBI,US,FL,AA
2,2020,1,DFW,US,TX,DTW,US,MI,AA
3,2020,1,CLT,US,NC,DTW,US,MI,AA
4,2020,1,CLT,US,NC,DTW,US,MI,AA
...,...,...,...,...,...,...,...,...,...
14208520,2020,3,ORD,US,IL,GSP,US,SC,G7
14208521,2020,3,ORD,US,IL,LGA,US,NY,UA
14208522,2020,3,ORD,US,IL,CHS,US,SC,YX
14208523,2020,3,ORD,US,IL,BTV,US,VT,ZW
14208524,2020,3,ORD,US,IL,CAE,US,SC,ZW